<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>

  <link rel="stylesheet" th:href="@{/style.css}"/>
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>

  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <div class="form-group">
    <form th:action="@{todo/addd/add}" th:object="${newTodo}" method="post">

      <label for="inputsm">Name:</label>
      <input type="text" name="title" th:field="*{title}" class="form-control input-sm"
             id="inputsm"/>

      <input type="submit" value="Add" class="btn-primary"/>


      <div class="checkbox">
        <input type="checkbox" value="true" th:field="*{isurgent}"/><label>isurgent</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" value="true" th:field="*{isdone}"/><label>isdone</label>
      </div>


    </form>
  </div>
</div>

</body>
</html>